/pk.workandshow.shrd/nbproject/
/pk.workandshow.shrd/target/
/com.foo.api/nbproject/
/com.foo.api/target/
/target/
/com.foo.impl/target/
/com.foo.impl1/target/
/com.foo.impl2/target/
/com.foo.impl3/target/
/com.foo.impl4/target/
/com.foo.impl5/target/
